body {
  background: linear-gradient( rgba(8, 70, 128, 0.7), rgba(8, 70, 128, 0.7) ), url('../images/bg-landing.jpg');
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

nav .link-title-nav {
  color: #ffffff;
}

.jumbotron h1 {
  text-align: center;
}

.list-services ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

.list-services ul li i {
  color: #2ECC71;
  
}

#contactar-section .form-header {
  color: #084680;
}
#contactar-section button {
  background-color: #2ECC71;
  color: #084680;
} 
